<template>
  <div class="checked__notes">
    <Notes
        v-for="note in checkedList"
        :note="note"
        :showOnlyBackButton="true"
        :key="note.id"
        @return="returnCheckedTask(note.id)"
    />
    <button class="checked__notesClean"
            v-if="checkedList.length > 0"
            @click="cleanNotes"
    > Очистить </button>
  </div>
</template>

<script setup lang="ts">
import Notes from '@/components/Notes.vue';
import { useNotes } from '@/hooks/useNotes';
import {api} from "@/api/api";
const { checkedList, loadCheckedNotes, notesList } = useNotes();

async function returnCheckedTask(notesId: number) {
  if (notesId) {
    try {
      notesList.value = await api.notes.unCheck(notesId);

      await loadCheckedNotes();
    } catch (e) {
      console.log('---', e)
    }
  }
}

function cleanNotes() {
  checkedList.value = [];
}

loadCheckedNotes();

</script>

<style scoped lang="scss">
.checked {
  &__notesClean {
    border: none;
    background-color: red;
    color: #ffffff;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}
</style>