<template>
  <div class="deletedNotes__notes">
    <Notes
        v-for="note in deletedNoteList"
        :note="note"
        :showOnlyBackButton="true"
        :key="note.id"
        @return="returnTask(note.id)"
    />
    <button class="deletedNotes__notesClean"
            v-if="deletedNoteList.length > 0"
            @click="cleanNotes"
            > Очистить </button>
  </div>

</template>

<script setup lang="ts">
import Notes from '@/components/Notes.vue';
import {useNotes} from '@/hooks/useNotes';
import {api} from "@/api/api";

const {deletedNoteList, loadDeletedNotes, notesList} = useNotes();

async function returnTask(notesId: number) {
  if (notesId) {
    try {
      notesList.value = await api.notes.restoreNotes(notesId);

      await loadDeletedNotes();
    } catch (e) {
      console.log('---', e)
    }
  }
}

function cleanNotes() {
  deletedNoteList.value = [];
}

loadDeletedNotes();

</script>

<style scoped lang="scss">

.deletedNotes {
  &__notesClean {
    border: none;
    background-color: red;
    color: #ffffff;
    padding: 15px;
    width: 150px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}

</style>