<template>
  <div class="toDoList">
    <form class="toDoList__form">
      <input type="text" class="toDoList__input" placeholder="Введите такст заметки" v-model="title" />
      <input
          type="button"
          class="toDoList__add"
          @click="addHandler"
      />
    </form>
    <div class="toDoList__notes">
      <Notes
          v-for="note in notesList"
          :note="note"
          :key="note.id"
          @delete="deleteNotes(note.id)"
          @check="checkNotes(note.id)"
          @update="noteText => change(note.id, noteText)"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import Notes from '@/components/Notes.vue';
import {ref} from "vue";
import {api} from "@/api/api";
import {useNotes } from '@/hooks/useNotes';

const { notesList, loadNotes,} = useNotes();

const title = ref<string>('');

async function deleteNotes(notesId: number) {
  if (notesId) {
    try {
      notesList.value = await api.notes.deleteNotes(notesId);

    } catch (e) {
      console.log('---', e)
    }
  }
}

async function checkNotes(notesId: number) {
  if (notesId) {
    try {
      notesList.value = await api.notes.checkNotes(notesId);

    } catch (e) {
      console.log('---', e)
    }
  }
}

async function change(notesId: number, title: string): Promise<void> {
  const index = notesList.value.findIndex(note => note.id == notesId);

  if (notesId) {
    try {
      notesList.value[index] = await api.notes.updateNote(notesId, title);

    } catch (e) {
      console.log('---', e)
    }
  }
}

async function addHandler() {
  const formData = new FormData();

  formData.set('title', title.value);

  const lastNotes = await api.notes.addNotes(formData);

  notesList.value.push(lastNotes);

  title.value = '';

}
loadNotes();

</script>

<style scoped lang="scss">
.toDoList {
  &__form {
    display: flex;
    margin-bottom: 30px;
  }

  &__input {
    height: 40px;
    padding: 0 10px;
    width: 90%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
  }

  &__add {
    width: 10%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: url("/src/components/icons/plus.svg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
  }
}
</style>