<template>
<div class="header">
  <div class="header__container">
    <h1 class="header__toDoListTitle"> To Do List </h1>
    <Navigation />
  </div>

</div>
</template>

<script setup lang="ts">
import Navigation from "@/components/Navigation.vue";

</script>

<style scoped lang="scss">
.header {

  &__container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__toDoListTitle {
    color: #252525;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
  }
}
</style>