<template>
  <div class="navigation">
    <div class="navigation__list">
      <RouterLink class="navigation__itemLink" :to="{name: 'checked' }"> Завершенные</RouterLink>
      <RouterLink class="navigation__itemLink" :to="{name: 'deleted'}"> Удаленые</RouterLink>
      <RouterLink class="navigation__itemLink" :to="{name: 'home'}"> Все</RouterLink>
    </div>

  </div>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">

.navigation {
  display: flex;

  &__itemLink {
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      background: green;
    }
    &:nth-child(2) {
    background: red;
    }
    &:nth-child(3) {
      background: gold;
    }
  }
}

</style>