<template>
<div v-if="isOpen" class="popup">
  <div class="popup__wrapper">
    <p class="popup__title"> Выберете фон </p>
    <img class="popup__closeBtn" alt="close" @click="closePopup" src="src/components/icons/close.png">
    <div class="popup__images">
      <div class="popup__imageContainer" v-for="image in BackgroundImages" :key="image.path">
        <img class="popup__image"
             alt="wallpaper"
             :src="image.path"
             @click="selectImage(image.path)">
      </div>

    </div>
  </div>
</div>
</template>

<script setup lang="ts">
import { useSettings } from '@/hooks/useSettings';
const { isOpen, BackgroundImages, selectBackground  } = useSettings();

function closePopup () {
  isOpen.value = false;
}

function selectImage(path: string) {
  selectBackground(path);
}

</script>

<style scoped lang="scss">
.popup {
  width: 536px;
  height: 700px;
  background: #333333;
  border-radius: 10px;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  &__wrapper {
    position: relative;
  }

  &__closeBtn {
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__imageContainer {
    width: 48%;
    margin-bottom: 15px;
    border: 2px solid transparent;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid deepskyblue;
    }
  }
}
</style>