<template>
  <div class="app" :style="{background: backgroundImg}">
    <div class="app__container">
      <Header/>
      <div class="toDoList__themeHandler">
        <button class="toDoList__themeBtn" @click="popupActive"> Сменить тему </button>
      </div>
      <RouterView />
      <ThemePopup />
    </div>
  </div>
</template>

<script setup lang="ts">
import { RouterView } from "vue-router";
import {useSettings,} from '@/hooks/useSettings';
import {computed} from "vue";
import Header from "@/components/Header.vue";
import ThemePopup from "@/components/ThemePopup.vue";

const { openPopup, settings, loadSettings } = useSettings();

const backgroundImg = computed<string>(() => {
  if (settings.value.backgroundPath) {
    return  'url(' + settings.value.backgroundPath + ')'
  }

  return 'src/assets/images/обои_1.jpeg';
})

function popupActive () {
  openPopup();
}

loadSettings();

</script>

<style scoped lang="scss">
.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  font-weight: normal;
  background: url("/src/assets/images/обои_4.jpeg");

  &__container {
    background: rgb(255,255,255,0.5);
    max-width: 600px;
    padding: 2rem;
    margin: 0 auto;
    height: 100%;
  }
}


.toDoList {
  &__themeBtn {
    border: none;
    outline: none;
    width: 100px;
    padding: 10px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    background-color: deepskyblue;
    color: #ffffff;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}
</style>